        html, body{
            margin: 0;
            padding: 0;

            color: #444;
            background-color: #eee; 
            
            font-size: 24px;
            
            font-family: 'Lato', Helvetica, sans-serif;

        }


        a:link { color: #999; text-decoration: none; transition: 0.2s; }
        a:visited { color: #999; }
        a:hover { color: #444; }
        a:active { color: #999; }



        h1 { margin: 16px; }
        
        h2 { margin: 16px; }
        
        hr {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #ddd;
        }
        
        .buttn {
            height: 44px;
            
            margin: 0;
            padding: 8px;
            
            border: none;
            
            color: #fff;
            
            width: 282px;
            
            transition: 0.1s;
        }
        
        .G { background-color: #66c285; }
        .G:hover { cursor: pointer; background-color: #009933; }
        
        .buttn:focus{
            outline: none;
        }

        /* TEXT INPUTS */
        
        input[type=text]{
            font-size: 24px;
            
            margin: 2px 0;
            padding: 2px;
            
            color: #888;
            
            font-family: 'Lato', Helvetica, sans-serif;
            border: 1px solid #ccc;
        }
        
        input[type=text]:focus{
            color: #444;
            
            outline: none;
            border: 1px solid #aaa;
        }
        
        input[type=password]{
            font-size: 24px;
            
            margin: 2px 0;
            padding: 2px;
            
            color: #888;
            
            font-family: 'Lato', Helvetica, sans-serif;
            border: 1px solid #ccc;
        }
        
        input[type=password]:focus{
            color: #444;
            
            outline: none;
            border: 1px solid #aaa;
        }
        
        textarea {
            font-size: 24px;
            
            margin: 2px 0;
            padding: 2px;
            
            color: #888;
            
            font-family: 'Lato', Helvetica, sans-serif;
            border: 1px solid #ccc;
            resize: vertical;
        }
        
        textarea:focus{
            color: #444;
            
            outline: none;
            border: 1px solid #aaa;
        
        }